<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377057037115-ele5urm84bn0sctidm3vh8baq30417b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377057037115-ele5urm84bn0sctidm3vh8baq30417b7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>377057037115-ef7tl3o7ptadml84vqb1hpp28heqncb7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpEy1G1Hp6Aow3NLJT2tB-Aq_G-F8Kmxo</string>
	<key>GCM_SENDER_ID</key>
	<string>377057037115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supertalabuser</string>
	<key>PROJECT_ID</key>
	<string>super-talab</string>
	<key>STORAGE_BUCKET</key>
	<string>super-talab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377057037115:ios:e109b870542546a6e3451e</string>
	<key>DATABASE_URL</key>
	<string>https://super-talab-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>