<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>super talab</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>super talab</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>This application requires access to the photo library in order to allow Super Talab to select photos to use for profile pictures, and many other features.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Our "Super Talab" application requires continuous access to your location to provide advanced functionality and ensure accurate delivery of your orders, even when the app is in the background. This ensures you have a personalized and efficient shopping experience.
	Always-on location access is crucial to enable features like real-time tracking, delivery notifications, and more.
	thus contributing to an optimal user experience. We would like to emphasize that the confidentiality of your data is an absolute priority. All location information is used in accordance with our privacy policy, ensuring the security and confidentiality of your personal data.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>In order to optimize your shopping experience, our "Super Talab" application requires access to your location. This feature helps provide you with information on nearby stores, exclusive offers tailored to your location, while making it easier to find and deliver products in your area. Additionally, we use your location to ensure accurate delivery of your orders, ensuring you have a personalized and efficient shopping experience.</string>
</dict>
</plist>
